body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
    display: flex;
    flex-direction: row;
    
    background-image: url('imgs/brad-huchteman-stone-mountain.jpg');
    /* background-size: cover; Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: whitesmoke;
}


.left-side {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.button-div, .form-header, .form-div {
    padding: 32px 32px;
    flex: 1;
}

.form-header {
    padding: 48px 48px;
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    font-size: 1.6rem;
}

.form-div {
    background-color: white;
    box-shadow: 0px 5px 10px lightgrey;
}

.top-spacer{
    flex: 1;
}

.bottom-spacer {
    flex: 3;
}

.logo-div {
    display: flex;
    align-items: center;
    padding: 16px 128px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: left;
    
}

.logo-text {
    padding: 0px 16px;
    color: white;
    font-size: 3rem;
}


.create-account {
    color: white;
    margin: 0px 16px;
    background-color: olivedrab;
    padding: 16px 24px;
    border: 16px;
    border-radius: 8px;
    font-weight: bold;
}

.login-link {
    font-weight: bolder;
    color: olivedrab;

}